span.error{
  color:#822727;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 5px;
}
.itemTitle{
  font: italic 12px/30px Georgia, serif;
  color: #000000;
}
.l_jobs{
  font: italic 12px/30px Georgia, serif;
  color: #513b48;
}
.text_valign-middle{
  vertical-align: middle;
  line-height: normal;
}

.d_LastCommit{
  background-color: #72aeef;
  color: #fc5454;
  border-color: black;
  border: 2px;
}
.JobDetail{
   background-color: rgba(222, 227, 227, 0.77);
   border-color: #d4e3e6;
   border-style: outset;
   border-width: 3px;
   border-radius: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   width: 450px;
}
.jobTitle{
  width: 250px;
  color:#d8f7e6;
  halign: center;
  font-weight:600;
  font-size: large;
}

.commitsText{
  background-color: #fefefe;
  border-color: #766d6e;
  border-style: outset;
  border-width: 3px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.changesDetail{
  color: rgba(148, 150, 155, 0.79);
}
.assystItem{
	text-shadow: gray;
}